################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FamilyShow/v16/Server/sqlite3
/.vs/FamilyShow/v16
/bin
/obj
